@media screen and (min-width: 300px) {
    :root {
        --font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --font-size: 24px;
    }

    .article {
        height: 28rem;

        width: 60vw;
        margin: 7rem auto;
    }

    .navBar > * {
        height: 3rem;
    }

    .logoTitle {
        height: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .article {
        height: 35rem;
    }
}
